/* Magic Mirror
 * Module: MMM-NBA
 *
 * By jupadin
 * MIT Licensed.
 */

.MMM-NBA {
    font-size: 16px;
}

.MMM-NBA.table {
    line-height: 1;
}

.MMM-NBA .live {
    font-size: 14px !important;
}

.MMM-NBA .tableHeader {
    text-align: center;
}

.MMM-NBA .date {
    /* font-size: 14px !important; */
    padding-right: 25px;
}

.MMM-NBA .firstTeam {
    text-align: left;
    padding-right: 15px;
}

.MMM-NBA .firstTeamScore {
    padding-right: 5px;
}

.MMM-NBA .secondTeam {
    text-align: right;
    padding-left: 15px;
}

.MMM-NBA .secondTeamScore {
    padding-left: 5px;
}

.MMM-NBA .byeweek.team .byeweek.logo {
    text-align: left;
    padding-right: 15px;
}

.MMM-NBA .footer {
    text-align: right;
    font-size: small;
    border-top: 1px solid var(--color-text-dimmed);
}

.MMM-NBA .uncolored {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}